// sidebar
$menuText:rgba(0,0,0,.85);
$menuActiveText:#1890ff;
$subMenuActiveText:#1890ff; //https://github.com/ElemeFE/element/issues/12951
$menuActiveBg: #e6f7ff;
$menuActiveBorder: #1890ff;

$menuBg:#fff;
$menuHover:rgba(255, 255, 255, 0.04);

$subMenuBg:#fff;
$subMenuHover:#fff;

$sideBarWidth: 240px;

$headerHeight: 48px;
$headerBg: #001529;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
  headerBg: $headerBg;
  menuActiveBg: $menuActiveBg;
  menuActiveBorder: $menuActiveBorder;
}
